parameters:
    level: 5 
    paths:
        - app/
        - config/
        - database/factories/
        - database/seeders/
        - routes/
        - tests/
    excludePaths:
        - ./vendor/*
    ignoreErrors:
        - '#Undefined variable: \$this#'
includes:
    - vendor/larastan/larastan/extension.neon